<div th:replace="compartilhado/header"></div>
<div class="container">
	<div class="d-flex flex-column flex-shrink-0 p-3">
		<div class="text-center my-5">
			<h1 class="fw-bolder">Cadastro de Participantes</h1>
			<div class="card shadow mb-4" style="padding: 30px;">
				<form method="POST" th:object="${participanteEvento}"
					th:action="@{/participante/editar}">
					<input type="hidden" th:field="*{id}"></input> <label for="nome">Nome
						do participante:</label> <input type="text" th:field="*{nome}" required></input>
					<p>
					<p>
						<label for="nivel">Nível (ex: L1, L2):</label> <input type="text"
							th:field="*{nivel}" required></input>
					<p>
						<label for="email">E-mail (ex: abcd@gft.com):</label> <input
							type="email" th:field="*{email}" required></input>
					<p>
						<label for="quatroLetras">Quatro letras:</label> <input
							type="text" th:field="*{quatroLetras}" required></input>
					<p>
						<label for="grupo">Grupo:</label> <select th:field="*{grupo}">
							<option th:each="grupo : ${listaGrupos}" th:value="${grupo.id}"
								th:text="${grupo.nome}"></option>
						</select>
					<p>
						<button class="btn btn-info btn-lg btn-block" type="submit">Cadastrar</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div th:replace="compartilhado/footer"></div>