<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${grupo.nome} + ' | GFT Milhas'"></title>
<meta charset="UTF-8">
</head>
<body>
	<table th:object="${grupo}" border="1" cellpadding="5px">
		<thead>
			<tr>
				<th colspan="3" th:text="'Nome do Grupo: ' + *{nome}"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="'Id: ' + *{id}"></td>
				<td
					th:text="'Quantidade máxima de integrantes: ' + *{quantidadePessoas}"></td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="5px">
		<thead>
			<tr>
				<th>Participantes</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="participante : ${listaParticipantes}">
				<td th:text="${participante.nome}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>