<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Página Inicial</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
</head>
<body>
	<header>
		<nav class="navbar navbar-light bg-light static-top">
			<div class="container">
				<div class="px-5 ms-xl-4">
					<i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4"
						style="color: #709085;"></i> <a href="/home"
						class="text-decoration-none link-info h1 fw-bold mb-0">GFT
						Milhas</a>
				</div>
				<a class="btn btn-info btn-lg btn-block" href="/login">Entrar na
					minha conta</a>
			</div>
		</nav>
		<div class="container">
			<div class="text-center my-5">
				<h1 class="fw-bolder">Seu lugar para criar os melhores eventos.</h1>
				<p class="lead mb-0">Descubra a forma perfeita para gerenciar e
					visualizar atividades.</p>
			</div>
		</div>
	</header>

	<main>
		<section class="py-5" id="features">
			<div class="container px-5 my-5">
				<div class="row gx-5">
					<div class="col-lg-4 mb-5 mb-lg-0">
						<h2 class="fw-bolder mb-0">Tudo em apenas um lugar.
							Facilidade é aqui!</h2>
					</div>
					<div class="col-lg-8">
						<div class="row gx-5 row-cols-1 row-cols-md-2">
							<div class="col mb-5 h-100">
								<div
									class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
									<i class="bi bi-collection"></i>
								</div>
								<h2 class="h5">Crie eventos e atividades</h2>
								<p class="mb-0">Quantos você quiser e quando você quiser.</p>
							</div>
							<div class="col mb-5 h-100">
								<div
									class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
									<i class="bi bi-building"></i>
								</div>
								<h2 class="h5">Gerencie sua lista de participantes</h2>
								<p class="mb-0">Adicione grupos de pessoas aos eventos.</p>
							</div>
							<div class="col mb-5 mb-md-0 h-100">
								<div
									class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
									<i class="bi bi-toggles2"></i>
								</div>
								<h2 class="h5">Marque a presença nas atividades</h2>
								<p class="mb-0">Identifique os participantes que
									compareceram ou não às atividades.</p>
							</div>
							<div class="col h-100">
								<div
									class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
									<i class="bi bi-toggles2"></i>
								</div>
								<h2 class="h5">Defina de sua forma</h2>
								<p class="mb-0">Você escolhe como quer administrar seu
									evento.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>


	<footer class="footer bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 h-100 text-center text-lg-start my-auto">
					<p class="text-muted small mb-4 mb-lg-0">&copy; GFT Milhas
						2022. Todos os direitos reservados.</p>
				</div>
			</div>
		</div>
	</footer>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="js/scripts.js"></script>
	<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>